<!DOCTYPE html>
<html ng-app="CurrencyConversion">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Currency Conversion</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/angular/js")

        @RenderSection("scripts", required: false)
        
        <script type="text/javascript" src="/webapp/app.js"></script>
        <script type="text/javascript" src="/webapp/routes.js"></script>
    </body>
</html>
